<mat-nav-list>
	<a mat-list-item routerLink="/search-service" (click)="close()">
		<mat-icon>search_icon</mat-icon>
		<span> Search Service</span>
	</a>
	<a mat-list-item routerLink="/ad-service" (click)="close()">
		<mat-icon>line_style_icon</mat-icon>
		<span>Ad Service</span>
	</a>
	<a mat-list-item routerLink="/main" (click)="close()">
		<mat-icon>grid_view</mat-icon>
		<span>Main</span>
	</a>
	<a *ngIf="loggedIn === null" mat-list-item routerLink="/login" (click)="close()">
		<mat-icon>login</mat-icon>
		<span>Login</span>
	</a>
	<a *ngIf="loggedIn != null" mat-list-item routerLink="/login" (click)="close(); onLogout()">
		<mat-icon>logout</mat-icon>
		<span>Logout</span>
	</a>
	<a *ngIf="loggedIn != null" mat-list-item routerLink="/profile" (click)="close()">
		<mat-icon>account_circle</mat-icon>
		<span>My Profile</span>
	</a>
</mat-nav-list>