span {
	display: flex;
	justify-content: space-between;
}

.spanSf {
	margin-top: -200px;
}

.divSf1, .divSf2 {
	width: 30%;
	margin: 0 20px;
	background-color: rgb(104, 228, 207);
}

.divSf1 {
	height: auto;
}

.divSf2 {
	height: 32vh;
}

.label {
	margin-left: 10px;
}

.price {
	width: 50%;
}

mat-form-field {
	width: 100%;
}

table {
	width: 100%;
	align-items: center;
	background-color: rgb(104, 228, 207);
}

.mat-header-cell {
	text-align: center;
}