a {
    text-decoration: none;
    color: black;
}

a:hover, a:active {
    color: darkslategray;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

mat-toolbar {
    border-bottom: 0.5vh solid white;
}

mat-sidenav {
    width: 250px;
    background-color: rgb(11, 182, 153);
}

.settings {
    cursor: pointer;
}

mat-menu {

}

.list {
    height: 75%;
}

li {
    padding: 10px;
    background-color: rgb(19, 143, 122);
}