<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (onCloseSidenav)="onClose($event, sidenav)"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <a routerLink="/main"><div>AGRIZI</div></a>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li><a routerLink="/search-service">Search Service</a></li>
          <li><a routerLink="/ad-service">Ad Service</a></li>
          <li><a routerLink="/main">Main</a></li>
          <li><a [matMenuTriggerFor]="menu" class="settings"><mat-icon>settings</mat-icon></a></li>
        </ul>
      </div>
    </mat-toolbar>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
      <button mat-menu-item routerLink="/profile">
        <mat-icon>account_circle</mat-icon>
        <span>My Profile</span>
      </button>
    </mat-menu>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>