<mat-sidenav-container>
	<mat-sidenav #sidenav>
		<app-menu (onCloseSidenav)="onClose($event, sidenav)"></app-menu>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<div fxHide.gt-xs>
				<button mat-icon-button (click)="onToggleSidenav(sidenav)">
					<mat-icon>menu</mat-icon>
				</button>
			</div>
			<div class="title" routerLink="/main">AGRIZI</div>
			<div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs class="list">
				<ul fxLayout fxLayoutGap="10px" class="navigation-items">
					<li routerLink="/search-service">
						<span>
							<mat-icon>search_icon</mat-icon>Search Service
						</span>
					</li>
					<li routerLink="/ad-service">
						<span>
							<mat-icon>line_style_icon</mat-icon>Ad Service
						</span>
					</li>
					<li routerLink="/main">
						<span>
							<mat-icon>grid_view</mat-icon>Main
						</span>
					</li>
					<li [matMenuTriggerFor]="menu">
						<span>
							<mat-icon>settings</mat-icon>
						</span>
					</li>
				</ul>
			</div>
		</mat-toolbar>
		<mat-menu #menu="matMenu" class="mat-menu">
			<button *ngIf="loggedIn === null" mat-menu-item routerLink="/login" class="mat-menu-button">
				<mat-icon>login</mat-icon>
				<span>Login</span>
			</button>
			<button *ngIf="loggedIn != null" mat-menu-item routerLink="/login" class="mat-menu-button" (click)="onLogout()">
				<mat-icon>logout</mat-icon>
				<span>Logout</span>
			</button>
			<button *ngIf="loggedIn != null" mat-menu-item routerLink="/profile" class="mat-menu-button">
				<mat-icon>account_circle</mat-icon>
				<span>My Profile</span>
			</button>
		</mat-menu>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>