table {
	width: 100%;
	background-color: rgb(104, 228, 207);
}

.mat-header-cell {
	text-align: center;
}

th:hover {
	cursor: pointer;
}

mat-icon {
	margin: 0 5px;
}

mat-icon:hover {
	cursor: pointer;
	color: rgb(56, 119, 109);
}