<table mat-table [dataSource]="yourServices" class="mat-elevation-z8" color="primary">
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef (click)="sortBy('Name')"> Name {{column === 'Name' ? (direction ? '▲' : '▼') : ''}} </th>
		<td mat-cell *matCellDef="let element"> {{element.name}} </td>
	</ng-container>
	<ng-container matColumnDef="email">
		<th mat-header-cell *matHeaderCellDef (click)="sortBy('Email')"> Email {{column === 'Email' ? (direction ? '▲' : '▼') : ''}} </th>
		<td mat-cell *matCellDef="let element"> {{element.email}} </td>
	</ng-container>
	<ng-container matColumnDef="telephone">
		<th mat-header-cell *matHeaderCellDef (click)="sortBy('Telephone')"> Telephone {{column === 'Telephone' ? (direction ? '▲' : '▼') : ''}} </th>
		<td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
	</ng-container>
	<ng-container matColumnDef="type">
		<th mat-header-cell *matHeaderCellDef (click)="sortBy('Type')"> Type {{column === 'Type' ? (direction ? '▲' : '▼') : ''}} </th>
		<td mat-cell *matCellDef="let element"> {{getServicetypeById(element.type)}} </td>
	</ng-container>
	<ng-container matColumnDef="status">
		<th mat-header-cell *matHeaderCellDef (click)="sortBy('Status')"> Status {{column === 'Status' ? (direction ? '▲' : '▼') : ''}} </th>
		<td mat-cell *matCellDef="let element"> {{element.status === 0 ? "Free" : element.status === 1 ? "Reserved" : "WfC"}} </td>
	</ng-container>
	<ng-container matColumnDef="price">
		<th mat-header-cell *matHeaderCellDef (click)="sortBy('Price')"> Price {{column === 'Price' ? (direction ? '▲' : '▼') : ''}} </th>
		<td mat-cell *matCellDef="let element"> {{element.price}} </td>
	</ng-container>
	<ng-container matColumnDef="time">
		<th mat-header-cell *matHeaderCellDef (click)="sortBy('Time')"> Time {{column === 'Time' ? (direction ? '▲' : '▼') : ''}} </th>
		<td mat-cell *matCellDef="let element"> {{element.time}} </td>
	</ng-container>
	<ng-container matColumnDef="buttons">
		<th mat-header-cell *matHeaderCellDef></th>
		<td mat-cell *matCellDef="let element"> <mat-icon (click)="onEdit(element)">edit</mat-icon> <mat-icon (click)="onDelete(element.id)">delete</mat-icon> </td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef='["name", "email", "telephone", "type", "status", "price", "time", "buttons"]'></tr>
	<tr mat-row *matRowDef='let row; columns: ["name", "email", "telephone", "type", "status", "price", "time", "buttons"]'></tr>
</table>
<mat-paginator #paginator
	class="paginator"
	(page)="handlePageEvent($event)"
	[length]="length"
	[pageSize]="pageSize"
	[showFirstLastButtons]="true"
	[pageSizeOptions]="pageSizeOptions"
	aria-label="Select page">
</mat-paginator>