table {
	width: 100%;
	background-color: rgb(104, 228, 207);
}

.mat-header-cell {
	text-align: center;
}

th:hover {
	cursor: pointer;
}

mat-icon {
	margin: 0 5px;
}

mat-icon:hover {
	cursor: pointer;
	color: rgb(56, 119, 109);
}

.paginator {
	float: left;
	background-color: rgb(100, 219, 199);
	border-bottom: 1px solid rgb(58, 127, 115);
}