<div class="main_component">
	<div class="welcome_text">
		<h1>
			Welcome to AGRIZI!
			<br>
			You can advertise and search for services here!
		</h1>
	</div>

	<div class="menus">
		<mat-card>
			<mat-card-title><span routerLink="/search-service">Search Services</span></mat-card-title>
			<!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
			<mat-card-content>
				<p>Your can search for services here</p>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="primary">Search</button>
			</mat-card-actions>
		</mat-card>
		
		<mat-card>
			<mat-card-title><span routerLink="/ad-service">Advertise Services</span></mat-card-title>
			<!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
			<mat-card-content>
				<p>Your can advertise your services here</p>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="primary">Advertise</button>
			</mat-card-actions>
		</mat-card>
	</div>

	<div>
		All rigths reserved!
	</div>
</div>