<div class="main_component">
    <div class="menus">
        <a href="search_service.html"><div class="card">
            <div class="card_title">Keres</div>
            <span class="card_desc">Ezeknek a leírása</span>
        </div></a>
        <a routerLink="/reg"><div class="card">
            <div class="card_title">Talál</div>
            <span class="card_desc">Meg ezé is</span>
        </div></a>
    </div>

    <div class="welcome_text">
        SZIAAAAAAAAAAAAAAAAAAAAAAA aww fwa faew few gaewg awesgawe gaw egawe g aewg
        <br>
        Ez egy üdvözlő szöveg akar lenni
    </div>
</div>